* {
  text-align: center;
  border-radius: 0.5rem;
}

nav {
  background-color: rgba(144, 238, 144, 0.2);
  border: 0.2rem solid lightgreen;
  margin: 2rem;
  margin-top: 0;
}

.header {
  background-color: rgba(255, 0, 0, 0.2);
  border: 0.2rem solid red;
  margin: 2rem;
  margin-bottom: 0;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0, 0, 255, 0.2);
  border: 0.2rem solid blue;
  margin: 2rem;
}

.article-card {
  background-color: rgba(255, 166, 0, 0.2);
  border: 0.2rem solid orange;
  margin: 1rem;
  padding: 1rem;
  flex-basis: 40vw;
  flex-grow: 1;
}

.article-card p {
  text-align: left;
  margin: 0;
}

#article-img {
  width: 20rem;
}
