* {
  text-align: center;
  border-radius: 0.5rem;
}

nav {
  background-color: rgba(0, 128, 0, 0.2);
  border: 0.2rem solid green;
  margin: 2rem;
  margin-top: 0;
}

.header {
  background-color: rgba(255, 0, 0, 0.2);
  border: 0.2rem solid red;
  margin: 2rem;
  margin-bottom: 0;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0, 0, 255, 0.2);
  border: 0.2rem solid blue;
  margin: 2rem;
}

.article-card {
  background-color: rgba(255, 166, 0, 0.2);
  border: 0.2rem solid orange;
  margin: 1rem;
  padding: 1rem;
  flex-basis: 40vw;
  flex-grow: 1;
}

.article-card p {
  text-align: left;
  margin: 0;
}

#article-img {
  width: 20rem;
}

.article {
  background-color: rgba(0, 0, 255, 0.2);
  border: 0.2rem solid blue;
  margin: 2rem;
}

.article p {
  text-align: left;
  margin: 0 1rem 0 1rem;
  font-size: 1rem;
}

.article h2 {
margin: 1rem;
}

.article img {
  margin: 1rem;
  width: 30rem;
}

.article section {
  text-align:justify;
  margin: 1rem;
}

.comments-container {
  background-color: rgba(255, 166, 0, 0.2);
  border: 0.2rem solid orange;
  margin: 2rem;
}

.comments form{
  background-color: rgba(144, 238, 144, 0.2);
  border: 0.2rem solid lightgreen;
  text-align: left;
  margin: 1rem;
  padding: 1rem;
}

.comments #error-msg {
  margin: 0;
  font-size: 0.7rem;
  color: red;
  text-align: left;
}

.comments #username-input {
  margin: 1rem;
  height: 1.5rem;
  text-align: left;
}

.comments #comment-input {
  margin: 1rem;
  height: 3rem;
  width: 50vw;
  text-align: left;
}

.comment-card {
  background-color: rgba(128, 0, 128, 0.2);
  border: 0.2rem solid purple;
  margin: 1rem;
  padding: 1rem;
  text-align: left;
}

.comment-card p{
  text-align: left;
}

.comment-card #author{
  font-weight: 600;
}

.comment-card #date{
  font-size: 0.7rem;
}

.comments-container button{
  margin: 1rem;
}

.article-votes {
  background-color: rgba(255, 192, 203, 0.2);
  border: 0.2rem solid pink;
  margin: 0 2rem 0 2rem;
  padding: 0 1rem 1rem 1rem;
}

.article-votes #error-msg p{
  margin: 0;
  color: red;
  font-size: 0.7rem;
}