* {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  color: darkslategray;
}

body {
  background-color: whitesmoke;
}

.header {
  background-color: rgb(250, 250, 250);
  padding: 2rem 0 1rem 0;
  border-radius: 0;
}

.header img {
  width: 15rem;
  box-shadow: 0 0 0.5rem 0.5rem lightgray;
  margin-bottom: 1rem;
}

.header a {
  color: grey;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header p {
  color: grey;
  font-weight: 500;
}

nav {
  background-color: lightgrey;
  box-shadow: 0px 8px 10px -5px rgba(211, 211, 211, 1);
}

.navbar {
  border-radius: 0;
  padding: 0.7rem;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links a {
  color: black;
  text-decoration: none;
  padding: 0 0.1rem 0.6rem 0.1rem;
  border-radius: 0;
}

.nav-links a:hover {
  color: black;
  border-bottom: 0.2rem solid red;
  border-radius: 0;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  max-width: 70vw;
}

.article-card {
  border: 0.3rem solid lightgray;
  box-shadow: 4px 4px 10px lightgray;
  background-color: white;
  padding: 1rem;
  flex-basis: 25vw;
  flex-grow: 1;
}

.article-card h2 {
  margin: 1rem;
}

.article-card p {
  text-align: left;
  margin: 0;
}

.img-container {
  width: 20rem;
  overflow: hidden;
  margin: 1rem auto 1rem auto;
  border-radius: 0.5rem;
}

.article-card:hover .img-container {
  margin: 0.6rem auto 1rem auto;
}

#article-img {
  width: 100%;
  transition: transform 0.3s ease;
}

.article-card:hover {
  cursor: pointer;
}

.article-card:hover img {
  transform: scale(1.1);
}

.article-card:hover h2 {
  margin-bottom: 0.8rem;
  border-bottom: 0.2rem solid red;
}

.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 70vw;
}

#user-select {
  margin: 1rem;
}

.user-card {
  border: 0.3rem solid lightgray;
  box-shadow: 4px 4px 10px lightgray;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  flex-basis: 15vw;
}

.user-card h3 {
  margin: 1rem 0 1rem 0;
}

.user-img-container {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 1rem auto 1rem auto;
}

.user-card:hover .user-img-container {
  margin: 0.6rem auto 1rem auto;
}

#user-img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  transition: transform 0.3s ease;
  background-color: rgba(255, 0, 0, 0.1);
}

.user-card:hover {
  cursor: pointer;
}

.user-card:hover img {
  transform: scale(1.1);
}

.user-card:hover h3 {
  margin-bottom: 0.8rem;
  border-bottom: 0.2rem solid red;
}

.article {
  max-width: 70vw;
  margin: 1rem auto;
}

.article p {
  text-align: left;
  font-size: 1rem;
}

.article h2 {
  text-align: left;
  margin: 2rem 0;
}

.article img {
  margin: 2rem;
  width: 50vw;
}

.article section {
  margin-top: 1rem;
  text-align: justify;
}

.comments-container {
  margin: 2rem auto;
  max-width: 70vw;
}

.comments form {
  border: 0.3rem solid lightgray;
  box-shadow: 4px 4px 10px lightgray;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  text-align: left;
}

.comments #error-msg {
  margin: 0;
  font-size: 0.7rem;
  color: red;
  text-align: left;
}

.comments #username-input {
  margin: 1rem;
  height: 1.5rem;
  width: 10rem;
  text-align: left;
}

.comments #comment-input {
  margin: 1rem;
  height: 3rem;
  width: 80%;
  text-align: left;
}

.comment-card {
  border: 0.3rem solid lightgray;
  box-shadow: 4px 4px 10px lightgray;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  text-align: left;
}

.comment-card p {
  text-align: left;
  margin: 1rem;
}

.comment-card #author {
  font-weight: 600;
}

.comment-card #date {
  font-size: 0.7rem;
}

.comment-card #delete-button {
  font-size: 0.7rem;
  margin: 0;
  color: red;
  border: 1px solid red;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.comment-card #delete-button:hover {
  color: white;
  background-color: red;
}

.comments-container button {
  margin: 1rem;
}

.article-votes {
  margin-top: 2rem;
}

.article-votes button {
  margin: 0.2rem;
}

.article-votes #error-msg p {
  margin: 0;
  color: red;
  font-size: 0.7rem;
}

.sort-form {
  margin: 1rem;
}

.sort-form select {
  margin: 0.2rem;
  height: 2rem;
}

.sort-form button {
  margin: 0.2rem;
  font-size: small;
}
